.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bs-primary);
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay .nav-link,
.overlay .navbar-nav .nav-link.active,
.overlay .navbar-nav .nav-link.show {
    color: #fff;
}
.overlay .nav-link {
    padding: 20px 0;
}
